<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysCategoryDao">
	  
	  <!-- 类型已经封装到树结构里了 -->
	  <select id="findCategorys" resultType="com.cy.pj.common.vo.Node">
	  	select * from sys_category
	  </select>
	  <select id="findObjectById" resultType="com.cy.pj.common.vo.Node">
	  	select * from sys_category where id = #{id}
	  </select>
     
</mapper>