<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysLogDao">

<!-- 添加操作 -->
  <insert id="insertObject">
     insert into sys_log
     (name,operation,method,params,time,ip,createdTime)
     values
     (#{name},#{operation},#{method},#{params},#{time},#{ip},#{createdTime})
     
  </insert>


<!-- 无条件查询数据库所有日志信息 -->
	<select id="getFimRow" resultType="int">
		select count(*) from sys_log where film_name=#{filmName} and operation =#{operation}
	</select>


    <delete id="deleteLogsById">
		delete from sys_log 
		where id in
		<foreach collection="ids" open="(" close=")" separator="," item="item">
			#{item}
		</foreach>
	</delete>
	  
	  <select id="findPageObjects" resultMap="sysLog">
           select *
           from sys_log
            <include refid="pageWhere"/>
           limit #{startIndex},#{pageSize}
     </select>
	  
	  <select id="getRowCount" resultType="int">
           select count(*)
           from sys_log
           <include refid="pageWhere"/>
     </select>
	  
	  <sql id="pageWhere">
         <where>
           <if test="filmName!=null and filmName !=''">
             film_name like concat("%",#{filmName},"%")
           </if>
         </where>
     </sql>
	  
	  <resultMap id="sysLog" type="com.cy.pj.sys.entity.SysLog">
     	<id column="id" property="id"/>
     	<result column="create_Time" property="createTime"/>
     	<result column="film_name" property="filmName"/>
     </resultMap>
	  
</mapper>