<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cy.sys.dao.SysProjectDao">
  
  <!-- 基于分类的分页 -->
	<select id="selectObjects" resultMap="sysProject">
	   select 
	   <include refid="columns"/>
	   from sys_film
	   <include refid="pageWhere"/>
	   limit #{startIndex},#{pageSize}
	</select>
	
	<!-- 查询所有的记录数 -->
	<select id="getRowCount" resultType="int">
		select count(id) 
		from sys_film
		<include refid="pageWhere"/>
	</select>
	
	<!-- 根据项目名查询 -->
	<select id="findProjectByName" resultMap="sysProject">
		select * from (
		select * from sys_film 
		where name 
		like concat('%',#{name},'%' ) 
		)f1 where f1.name like concat('%',#{name},'%' ) 		
	</select>
	
	<select id="findObjectsByProjectNames" resultMap="sysProject">
		select 
		<include refid="columns"/>
		from sys_film
		where name in 
		<foreach collection="filmNames" 
				 open="(" close=")" item="filmName" separator=",">
			#{filmName}
		</foreach>
	</select>
  
  <!-- 整合ehcache框架 -->
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<sql id="columns">
		id,name,lable,on_time,grade,introduce,category_id,area,route,vip
	</sql>
	
	<sql id="pageWhere">
		<where>
			<if test="categoryId!=null and categoryId !=''">
				category_id=#{categoryId}
			</if>
		</where>
	</sql>
  
  <!-- 自动匹配驼峰模式 -->
	<resultMap id="sysProject" type="com.cy.sys.entity.SysProject" autoMapping="true"/>
  
  
  </mapper>