<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

	div{width:400px;
	    height:350Px;
	    border:solid 1px gray;
	    text-align:center;
		/* margin: 0 auto; */
	}
	a:hover{
		cursor: pointer;
	}
</style>
</head>
<body>


	<div>
	
	<h1>恭喜您报名成功</h1>
	<h3>======招聘前端开发人员======</h3>
	
	<a href="http://localhost:8080/doIndexUI"><button>点击此按钮返回首页</button></a>
	   
	   <!-- 加背景图片 -->
	   <div class="container">
	     <img class="images" src="images/cgtest.png">
	  
	   </div>
	</div>
</body>
</html>